.container {
	width: 60%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 0 auto;
	color: rgb(31, 134, 182);
	font: 600 14px Arial;
}

.progress-bar {
	width: 0;
	height: 10px;
	background-color: #2196F3;
	margin-top: 10px;
	transition: width 0.3s;
}

.card {
	display: none;
}

.active {
	display: block;
}

.card-content {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.card-item {
	display: flex;
	flex-direction: column;
	gap: 2px;
}

.card-item label {
	text-transform: uppercase;
}

.card button,
.card-item input,
.card-item select,
.eraseData,
.eraseAllData {
	border-radius: .5em;
	border: 2px solid rgb(93, 221, 200);
	padding: 10px;
}

.card button,
.eraseData,
.eraseAllData {
	width: 35%;
	margin: 15px auto;
	background-color: transparent;
	transition: .3s ease-in-out;
	text-transform: uppercase;
}

.card button:hover,
.eraseData:hover,
.eraseAllData:hover {
	background-color: rgb(93, 221, 200);
}

.nav-btns {
	width: 100%;
	display: flex;
	margin: 0 auto;
	gap: 10px;
}

.nav-btns button {
	width: 45%;
}

.eraseBtns {
	display: flex;
}

.validation-error {
	opacity: 0;
	color: red;
	font: 400 16px Arial;
	transition: .3s ease-in-out;
	user-select: none;
	cursor: unset;
}

.error-active {
	opacity: 1;
}

@media only screen and (max-width: 690px) {
	.container {
		width: 90%;
	}
}